body {
    font-family: 'Montserrat', sans-serif;
}


#title {
    background-color: #ff4c68;
    color: #fff;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.2rem;
    line-height: 1.5;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

p {
    color: #8f8f8f;
}

.container-fluid {
    padding: 3% 15%;

}

/* Navigation Bar */

.navbar {
    padding-bottom:  4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}


/* download buttons */

.download-button {
    margin: 5% 3% 5% 0;

}

/* title image */


.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    left: 53%;
    width: 280px;

}

.container-fluid {
    padding-bottom: 100px;
}


/* features section */

#features {
    padding: 7% 15%;
    background-color: white;
    position: relative;
    /* z-index: 1; */
}

.feature-box  {
    text-align: center;
    padding: 5%;
}

.icon {
    color:#ef8172 ;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/* Testimonial section */

#testimonials {
    
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 15px;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 20px;
}

/* Pricing section  */

#pricing {
    padding: 100px;
    text-align: center;
}

.price-card {
    margin: 0 4px;
    /* padding: 0px; */
}

.pricing-column {
    padding: 3% 2%;
}

@media (max-width: 1000px) {
    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        transform: rotate(0);
    }
}

/* CTA SECTION */

#cta{
    background-color: #ff4c68;
    padding: 7% 15%;
    color: white;
    text-align: center;
}

.cta-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 800px;
}

/* Footer Section */

#footer {
    padding: 7% 15%;
    text-align: center;
}

.social-icons {
    margin: 20px 10px;
}